*{
  margin: 0;
}

.container{
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

.div{
  width: 100%;
  height: calc(100vh);
}

.topdiv{
  background-color: lightblue;
}
.middiv{
  background-color: orange;
}
.botdiv{
  background-color: yellow;
}
