*{
  margin: 0;
  list-style: none;
}
ul{
  padding: 0;
  margin-left: 10px;
}
li{
  padding:10px 0;
}

.container{
  margin: 0 auto;
  width: 90%;
}

.div{
  width: 100%;
  height: calc(100vh);
}

.blue{
  background-color: lightblue;
}
.orange{
  background-color: orange;
}
.yellow{
  background-color: yellow;
}
